body {
    background-color: hsl(230, 100%, 99%);
    font-family: 'Manrope', sans-serif;
    margin: 0;
    font-size: 12px;
}
p {
    color: hsl(225, 20%, 60%);
}
h1 {
    color: hsl(227, 35%, 25%);
}
/* <!-- header --> */
.head {
    max-width: 100%;
    text-align: center;
}
.head__bg {
    overflow: hidden;
    position: relative;
}
.head header {
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 0; right: 0;
    z-index: 1;
}
.head header h1 {
    font-size: 20px;
}
.head header p {
    padding: 0 80px;
    font-size: 15px;
}
.head .header__img {
    position: absolute;
    left: 0; right: 0;
    top: 80px;
}
/* <!-- Interactive box --> */
.w-600 {
    font-weight: 600;
}
.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 25px 2px rgba(63, 62, 62, 0.09);
    padding: 20px 0 40px;
    margin: -150px auto 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 310px;
}
.pageviews p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
}
/* <!-- si deve mettere un bottone scorrevole --> */
/* <!-- si deve mettere un bottone scorrevole --> */
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 11px;
}
/* toggle-swithch start */
/* Styles for hiding the native checkbox */
input[type='checkbox'].check-custom {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* Styles for the basic appearance of the toggle switch */
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle {
    width: 3.2rem;  /*1.5*/
    height: 1.6rem; /*1*/
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
/* Common styles for the ::before and ::after pseudo-elements of the toggle switch */
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::before,
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
}
/* Styles for the ::before pseudo-element (the outer frame) of the toggle switch */
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::before {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background: #dbdbdb;
}
/* Styles for the ::after pseudo-element (the inner slider) of the toggle switch */
input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::after{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.2rem;
    border-radius: 50%;
    background: #ffff;
}
/* Styles for the ::before pseudo-element of the toggle switch in checked or enabled state */
input[type='checkbox'].check-custom.toggle-switch:checked ~ .check-toggle::before {
    background: hsl(174, 77%, 80%);
}
/* Styles for the ::after pseudo-element of the toggle switch in checked or enabled state */
input[type='checkbox'].check-custom.toggle-switch:checked ~ .check-toggle::after {
    left: auto;
    right: 0;
}
/* toggle-swithch end */
.choose__disc {
    border-radius: 10px;
    background-color: hsl(14, 92%, 95%);
    height: 20px;
    width: 40px;
    font-size: 9px;
}

#disc__txt {
    color: hsl(15, 100%, 70%);
    padding: 4px; margin-top: 0;
}    
#disc__txt span {
    display: none;
}
hr {
    width: 100%;
    border-top: 1px solid hsl(230, 100%, 99%);
    margin: 20px 0;
}
.features {
    margin-bottom: 30px;
}
.features img {
    margin-right: 8px;
}
.start-btn button {
    background-color: hsl(227, 35%, 25%);
    border-radius: 40px;
    color: hsl(226, 100%, 87%);
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    padding: 10px 40px;
}
.attribution {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}
@media (min-width: 375px) {
    #head__img {
        width: 100%;
    }
    .head header h1 {
        font-size: 28px;
    }
    .container {
        width: 600px;
    }
    .choose__disc {
        width: 80px;
    }
    #disc__txt span {
        display: inline-block;
    }
    .feature-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 250px;
    }
    .features {
        text-align: left;
        margin-bottom: unset;
    }

}
